<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168834086404-8lgf0pjif5mkg5v9l5enaik405j2dvnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168834086404-8lgf0pjif5mkg5v9l5enaik405j2dvnd</string>
	<key>API_KEY</key>
	<string>AIzaSyBGWsNLYQ2pjLtmaEpqok0GZthSYyWX6Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>168834086404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alalmiyalhura.arabforprovider</string>
	<key>PROJECT_ID</key>
	<string>saudi-marche-d6ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>saudi-marche-d6ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168834086404:ios:80c9173d9d11f2e3cc2751</string>
</dict>
</plist>